language: r
dist: xenial
latex: false

branches:
  only:
  - master

cache:
  packages: yes

directories:
  - $HOME/bin

before_install:
 - Rscript -e 'install.packages(c("remotes","JuliaCall","aqp","soilDB","sharpshootR"))'
 - Rscript -e 'remotes::install_github(c("ncss-tech/aqp", "ncss-tech/soilDB", "ncss-tech/sharpshootR"), dependencies=FALSE)'

script:
 - Rscript -e 'blogdown::install_hugo()'
 - Rscript -e 'blogdown::build_site()'

deploy:
  provider: pages
  skip_cleanup: TRUE
  github_token: $GITHUB_TOKEN
  keep_history: TRUE
  on:
    branch: master
  local_dir: public
  repo: brownag/brownag.github.io
  target_branch: master
  verbose: TRUE
  deployment_file: TRUE
